<a href="https://colab.research.google.com/github/Mendoza-JM/58013-LinearAlgebra/blob/main/Review_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Python Indentation
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

In [4]:
#Python Comments
#This is a comment
print("Hello, world")

Hello, world

In [5]:
#Python Variable
x = 1
a,b = 0,-1
a,b,c = 0,-1,2
b = "Sally" #This is a type of string

In [6]:
#Casting
b = "sally" #This is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

In [7]:
#Type() Function
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [8]:
#"Double" quote or 'Single' quote
y = "John"
y = 'John'

In [9]:
#Case sensitive
a = 4
A = "Sally"
#A will not overwrite

In [10]:
#Multiple Variables
x,y,z = "one","two","three"
print(x)
print(y)
print(z)

one
two
three

In [12]:
#One Value to Multiple Variables
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

In [14]:
#Output Variables
x = "Enjoying"
print("Phyton programming is " +x)

Phyton programming isEnjoying

In [15]:
#Other way:
x = "Python is "
y = "Enjoying"
z = x+y
print(z)

Python is Enjoying

In [16]:
#Arithmetic Operation
x=5
y=3
print(x+y)

x=5
y=3
sum=x+y
sum

8

8

In [17]:
#Assignment Operation
a,b,c, = 0,-1,6
c%=3
c

0

In [22]:
#Comparison Operator
#Logical Operators
a,b,c, = 0,-1,6
a>b and c>b

True

In [24]:
#Identity Operator
a,b,c, = 0,-1,5
a is c

False

In [29]:
#Bitwise Operator
a,b,c, = 0,-1,5
print(c>>1)
print(c<<1)

2
10